/*------------------------------------------GLOBAL STYLES---*/

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Julee:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


.col-xs-12,
.col-sm-12,
.col-3,
.col-12,
.col-md-4,
.col-md-6,
.col-lg-2,
.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-9,
.col-lg-10 {
    width: 100%;
}

/*--------------------------------------HOVER EFFECT STYLES---*/

.hvr-grow {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

/*----------------------------------BACKGROUND IMAGE STYLES---*/

body,
html {
    height: 100%
}


body {
    background-image: url("/Assets/Images/stars_back_2.jpg");
    background-repeat: repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/*--REFERENCE 4*/

/*--------------------------------------HEADER ALERT STYLES---*/

/*.alert-bar {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #f5c729;
}

.site-wide-alert {
    border: 0;
    margin: 0;
    padding: 5px 0 5px 0;
    border-radius: 0;
    text-align: center;
}

.site-wide-alert a {
    text-decoration: none;
    font-family: "Julee", sans-serif;
    font-size: 24px;
    color: #7aa7d8;
}*/

/*------------------------------------NAVIGATION BAR STYLES---*/

.navbar {
    padding: 0;
    background-color: transparent;
}

.navbar-toggler {
    margin: 2% 3% 3% 0;
    padding: 0;
    border-color: transparent;
}

.toggle-btn i {
    color: #656465;
    font-size: 30px;
}

.nav-bar-items {
    margin: 0;
    width: 100%;
    float: left;
    text-align: center;
    background-color: transparent
}

.list-inline .nav-item-link {
    margin: 0;
    width: 20%;
    float: left;
}

.nav-item-link a {
    text-decoration: none;
}

.nav-item-link a i {
    padding: 30% 15% 5% 0;
    color: #93b1cd;
    font-size: 25px;
}


/*------------------------HOME SECTION STYLES---*/

.site-title {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fdfdfd;
    animation: flickerAnimation 8s infinite alternate ease-in-out; /*--REFERENCE 8--*/
    -webkit-animation: flickerAnimation 8s infinite alternate ease-in-out;
    -moz-animation: flickerAnimation 8s infinite alternate ease-in-out;
    -ms-animation: flickerAnimation 8s infinite alternate ease-in-out;
    -o-animation: flickerAnimation 8s infinite alternate v;
}

.main-title {
    margin: 0;
    text-align: center;
    font-family: "Permanent Marker", sans-serif;
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 10px;
}

.sub-title {
    margin: 0;
    text-align: center;
    font-family: "Permanent Marker", sans-serif;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 5px;
}

/*---------------------------LISTEN SECTION STYLES---*/

.listen-label {
    margin: 0;
    padding: 3% 5% 3% 5%;
    font-family: "Julee", sans-serif;
    font-size: 40px;
    color: #fdfdfd;
    font-weight: bold;
    text-align: center;
}

.listen-album-image {
    border: 1px solid white;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 250px
}

.listen-audio-control {
    border: 0;
    padding-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.listen-track-label {
    margin: 0;
    padding: 6% 0 10% 0;
    font-family: "Julee", sans-serif;
    text-align: center;
    color: #93b1cd;
    font-size: 25px;
    font-weight: bold;
}

#listen-top-row {
    padding-top: 3%;
}

#listen-bottom-row {
    padding-bottom: 8%;
}

/*------------------------------WATCH SECTION STYLES---*/

.watch-label {
    margin: 0;
    padding: 3% 0;
    font-family: "Julee", sans-serif;
    font-size: 40px;
    color: #fdfdfd;
    font-weight: bold;
    text-align: center;
}

.watch-video {
    border: 1px solid white;
    width: 90%;
    margin: 0 5%;
}

.watch-video-label {
    margin: 3% 0 5% 0;
    font-family: "Julee", sans-serif;
    text-align: center;
    color: #93b1cd;
    font-size: 20px;
    font-weight: bold;
}

#watch-top-row {
    padding-top: 3%;
}

#watch-bottom-row {
    padding-bottom: 10%;
}

/*----------------------------BIOGRAPHY SECTION STYLES---*/

.bio-label {
    margin: 0;
    padding: 3% 0 5% 0;
    font-family: "Julee", sans-serif;
    font-size: 40px;
    color: #fdfdfd;
    font-weight: bold;
    text-align: center;
}

.bio-band-img {
    border: 1px solid white;
    margin: 0 10%;
    height: 100%;
    width: 80%;
}

.bio-band-info {
    margin: 5% 10%;
    font-family: "Julee", sans-serif;
    font-size: 20px;
    color: #93b1cd;
    text-align: justify;
    font-weight: 700;

}

.bio-member-img {
    border: 1px solid white;
    margin: 0 10%;
    padding: 0;
    height: 100%;
    width: 80%;
}

.bio-member-name {
    margin: 5% 0 3% 0;
    font-family: "Julee", sans-serif;
    text-align: center;
    color: #fdfdfd;
    font-size: 30px;
}

.bio-member-info {
    margin: 5% 10% 10% 10%;
    padding: 0;
    font-family: "Julee", sans-serif;
    font-size: 20px;
    color: #93b1cd;
    text-align: justify;
    font-weight: 700;
}

.bio-band-info a {
    text-decoration: none;
    color: #007bff;
}

.bio-member-info a {
    text-decoration: none;
    color: #007bff;
}

#bio-top-row {
    padding-top: 3%;
}

#bio-bottom-row {
    padding-bottom: 8%;
}

/*----------------------------HIRE SECTION STYLES---*/

.hire-form-text {
    margin: 0;
    padding: 3% 5% 3% 5%;
    font-family: "Julee", sans-serif;
    font-size: 20px;
    color: #fdfdfd;
    font-weight: bold;
    text-align: justify;
}

.hire-img {
    border: 1px solid white;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 100%;
}

.hire-form-label {
    display: block;
    margin: auto;
    padding: 5px 0;
    width: 90%;
    font-family: "Julee", sans-serif;
    font-size: 20px;
    color: #93b1cd;
}

.hire-form-box {
    border: 0;
    margin: auto;
    padding: 10px;
    width: 90%;
    font-family: "Julee", sans-serif;
    font-size: 20px;
}

.hire-form-box::placeholder {
    color: #fdfdfd;
}

.hire-form-box,
.hire-form-box:focus {
    background-color: #656465;
    color: #fdfdfd;
}

.hire-form-box:active {
    background-color: #656465;
    color: #fdfdfd;
}

.hire-form-subtext {
    display: block;
    margin: 0 5%;
    padding: 5px 0 15px 0;
    width: 75%;
    font-family: "Julee", sans-serif;
    font-size: 17px;
    color: #93b1cd;
}

.hire-submit {
    margin-top: 8%;
    margin-left: 25%;
    width: 50%;
    background-color: #93b1cd;
    font-family: "Julee", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 5px 0;
}

#hire-top-row {
    padding-top: 3%;
}

#hire-bottom-row {
    padding-bottom: 15%;
}

/*-------------------------------------FOOTER STYLES---*/

.footer-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #656465;
}

.footer-alert {
    padding: 0;
}

.footer-alert a {
    padding: 1px 0 1px 0;
    text-decoration: none;
    text-align: center;
    color: #93b1cd;
    width: 100%;
    font-family: "Julee", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.footer-links {
    margin-right: 0.75em;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fdfdfd;
    font-family: "Julee", sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.social-links {
    margin: 0;
    padding: 5px 10% 1px 0;
    float: right;
}

.social-links li a {
    margin-right: 0.25em;
}

.social-links li a i {
    margin-bottom: 5px;
    padding: 12px 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 2px;
    font-size: 15px;
    text-align: center;
}

#item-facebook {
    background-color: #6767e4;
    color: white;
}

#item-twitter {
    background-color: white;
    color: #6767e4;
}

#item-instagram {
    background-color: #b44ab4;
    color: white;
    width: 28px;
    height: 28px;
    line-height: 3px;
}

#item-youtube {
    background-color: white;
    color: #db0e0e;
}


/*----------------------------------
------------------------------------MEDIA-768-PX--------------
                                                ------------*/

@media(min-width: 768px) {

    /*------------------------------------NAVIGATION BAR---*/
    .toggle-btn i {
        font-size: 40px;
    }

    .nav-item-link a i {
        padding: 30% 15% 5% 0;
        color: #93b1cd;
        font-size: 30px;
    }


    /*---------------------------------HOME PAGE CONTENT---*/
    .main-title {
        font-size: 60px;
        letter-spacing: 15px;
    }

    .sub-title {
        font-size: 40px;
        letter-spacing: 5px;
    }

    /*------------------------------WATCH PAGE CONTENT---*/
    .watch-video-label {
        font-size: 25px;
    }

    #watch-bottom-row {
        padding-bottom: 6%;
    }

    /*----------------------------------BIO PAGE CONTENT---*/
    .bio-band-img {
        margin: 0 5%;
        width: 90%;
    }

    .bio-band-info {
        margin: 5%;
    }

    .bio-member-img {
        margin: 0 0 15% 15%;
        padding: 0;
        height: 200px;
    }

    .bio-member-name {
        text-align: left;
        margin: -1% 0 3% 8%;
    }

    .bio-member-info {
        margin: 1% 8% 0 8%;
        font-size: 18px;
    }

    #bio-bottom-row {
        padding-bottom: 4%;
    }

    /*----------------------------------HIRE PAGE CONTENT---*/
    .hire-form-text {
        font-size: 25px;
    }

    .hire-submit {
        margin-left: 35%;
        width: 30%;
    }

    #hire-bottom-row {
        padding-bottom: 8%;
    }

}

/*-------------------------------
---------------------------------MEDIA-992-PX--------------
                                             ------------*/

@media(min-width: 992px) {

    /*----------------------------------NAVIGATION BAR---*/
    .nav-item-link a i {
        padding: 20px 0 10px 0;
        font-size: 25px;
    }

    .nav-item-link span {
        display: block;
        text-align: center;
        color: #93b1cd;
        font-family: "Julee", sans-serif;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 2px;
    }

    /*------------------------------HOME PAGE CONTENT---*/
    .main-title {
        font-size: 100px;
        letter-spacing: 15px;
    }

    .sub-title {
        font-size: 50px;
        letter-spacing: 5px;
    }

    /*-------------------------------LISTEN PAGE CONTENT---*/
    #listen-bottom-row {
        padding-bottom: 6%;
    }

    /*-------------------------------WATCH PAGE CONTENT---*/
    .watch-video-label {
        margin: 2% 0 2% 0;
    }

    /*----------------------------------BIO PAGE CONTENT---*/
    .bio-label {
        margin: 0;
        padding: 3% 0;
    }

    .bio-band-img {
        margin: 1% 0% 0 10%;
        padding: 0;
        width: 90%;
        height: 96%;
    }

    .bio-band-info {
        margin: 0 5%;
    }

    .bio-member-img {
        margin: 0 0 25% 0;
    }

    #bio-left-member-img {
        margin: 0 0 25% 20%;
    }

    .bio-member-name {
        margin: -1% 0 0 0%;
    }

    #bio-left-member-name {
        margin: -1% 0 0 10%;
    }

    .bio-member-info {
        margin: 1% 10% 0 0%;
        font-size: 15px;
    }

    #bio-left-member-info {
        margin: 1% 10% 0 10%;
    }

    /*----------------------------------HIRE PAGE CONTENT---*/
    .hire-form-text {
        font-size: 30px;
    }

    .hire-img {
        margin-top: 1%;
        height: 100%;
        width: 100%;
    }

    .hire-form-label {
        margin-right: 0;
        width: 80%;
        font-size: 18px;
    }

    .hire-form-box {
        margin-right: 0;
        padding: 10px;
        width: 80%;
        font-size: 18px;
    }

    .hire-form-subtext {
        margin-left: 20%;
        width: 80%;
        font-size: 15px;
    }

    .hire-submit {
        margin-left: 30%;
        width: 60%;
    }
}

/*---------------------------------
------------------------------------MEDIA-1220-PX-------------
                                                 ------------*/

@media(min-width: 1220px) {

    /*----------------------------------BIO PAGE CONTENT---*/
    .bio-member-info {
        font-size: 16px;
    }

    /*----------------------------------HIRE PAGE CONTENT---*/
    .hire-form-text {
        text-align: center;
    }

    .hire-form-label {
        font-size: 25px;
    }

    .hire-form-box {
        font-size: 25px;
    }

    .hire-form-subtext {
        font-size: 20px;
    }

    .hire-submit {
        font-size: 25px;
    }
}

/*---------------------------------
------------------------------------KEYFRAMES-------------*/
@keyframes flickerAnimation {
  0%   { opacity:0; }
  100%  { opacity:1; }
}
@-o-keyframes flickerAnimation{
   0%   { opacity:0; }
  100%  { opacity:1; }
}
@-moz-keyframes flickerAnimation{
   0%   { opacity:0; }
  100%  { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
   0%   { opacity:0; }
  100%  { opacity:1; }
}
