
/*------------------------------------------SITE FONT STYLES---*/

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Julee:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*--------------------------------------HOVER EFFECT STYLES---*/

.hvr-grow {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}


/*----------------------------------BACKGROUND IMAGE STYLES---*/

body,
html {
    height: 100%
}

/*--REFERENCE 4*/

body {
    border: 0;
    margin: 0;
    padding: 0;
    background-image: url("/Assets/stars_back_2.jpg");
    background-repeat: repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/*---------------------------------------CONTAINER STYLES---*/

.header-container {
    border: 0;
    margin: 0;
    padding: 0;
}

.listen-container {
    border: 0;
    margin: 0;
    padding:0;
}

.index-container {
    border: 0;
    margin: 0;
    padding-bottom: 0;
}

.watch-container {
    border: 0;
    margin: 0;
    padding-bottom: 100px;
}

.bio-container {
    border: 0;
    margin: 0;
    padding-bottom: 50px;
}

.footer-container {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}


/*--------------------------------------HEADER ALERT STYLES---*/

/*.alert-bar {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #f5c729;
}

.site-wide-alert {
    border: 0;
    margin: 0;
    padding: 5px 0 5px 0;
    border-radius: 0;
    text-align: center;
}

.site-wide-alert a {
    text-decoration: none;
    font-family: "Julee", sans-serif;
    font-size: 24px;
    color: #7aa7d8;
}*/


/*------------------------------------NAVIGATION BAR STYLES---*/

.navbar {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.navbar-toggler {
    border: 0;
    margin-top: 5px;
    padding: 0;
    border-color: transparent;
}

.toggle-btn i {
    border: 0;
    margin: 0;
    padding: 5px 5px 5px 0;
    width: 50px;
    color: #656465;
    font-size: 30px;
}

.nav-bar-items {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    text-align: center;
    background-color: transparent
}

.list-inline .nav-item-link {
    border: 0;
    margin: 0;
    padding: 0;
    width: 20%;
    float: left;
}

.nav-item-link a {
    margin: 0;
    text-decoration: none;
}

.nav-item-link a i {
    border: 0;
    margin: 0;
    padding: 10px 15px 5px 0;
    color: #93b1cd;
    font-size: 30px;
}


/*------------------------HOME SECTION STYLES---*/

.site-title {
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fdfdfd;
}

.main-title {
    border: 0;
    margin: 0;
    padding-top: 0;
    text-align: center;
    font-family: "Permanent Marker", sans-serif;
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 10px;
}

.sub-title {
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    font-family: "Permanent Marker", sans-serif;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 5px;
}

/*---------------------------LISTEN SECTION STYLES---*/

.listen-col {
    border: 0;
    margin: 0;
    padding:0;
}

.listen-label {
    border: 0;
    margin: 0;
    padding: 40px 0 30px 0;
    font-family: "Julee", sans-serif;
    font-size: 25px;
    color: #fdfdfd;
    font-weight: bold;
    text-align: center;
}

.listen-album-image {
    border: 1px solid white;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 250px
}

.listen-audio-control {
    border: 0;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.listen-track-label {
    border: 0;
    margin: 0;
    padding: 20px 70px 25px 70px;
    font-family: "Julee", sans-serif;
    text-align: center;
    color: #93b1cd;
    font-size: 20px;
    font-weight: bold;
}

/*------------------------------WATCH SECTION STYLES---*/

.watch-col {
    border: 0;
    margin: 0;
    padding: 0;
}

.watch-label {
    border: 0;
    margin: 0;
    padding: 30px 0 0 0;
    font-family: "Julee", sans-serif;
    font-size: 40px;
    color: #fdfdfd;
    font-weight: bold;
    text-align: center;
}

.watch-video {
    border: 0;
    margin: 0;
    padding: 20px 60px 0 60px;
}

#watch-border {
    border: 1px solid white;
}

.watch-video-label {
    border: 0;
    margin: 0;
    padding: 20px 70px 20px 70px;
    font-family: "Julee", sans-serif;
    text-align: center;
    color: #93b1cd;
    font-size: 20px;
    font-weight: bold;
}

/*----------------------------BIOGRAPHY SECTION STYLES---*/

.bio-col {
    border: 0;
    margin: 0;
    padding: 0;
}


.bio-label {
    border: 0;
    margin: 0;
    padding: 30px 0;
    font-family: "Julee", sans-serif;
    font-size: 40px;
    color: #fdfdfd;
    font-weight: bold;
    text-align: center;
}

.bio-band-img {
    border: 1px solid white;
    margin: 0 35px 30px 35px;
    padding: 0;
    height: 100%;
    width: 82%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bio-band-info {
    border: 0;
    margin: 0;
    padding: 20px 35px 0 35px;
    font-family: "Julee", sans-serif;
    font-size: 20px;
    color: #93b1cd;
    text-align: justify;
    font-weight: 700;
}


.bio-member-img {
    border: 1px solid white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bio-member-name {
    border: 0;
    margin: 0;
    padding: 20px 0 10px 0;
    font-family: "Julee", sans-serif;
    text-align: center;
    color: #fdfdfd;
    font-size: 30px;
}

.bio-member-info {
    border: 0;
    margin: 0;
    padding: 0 35px 40px 35px;
    font-family: "Julee", sans-serif;
    font-size: 20px;
    color: #93b1cd;
    text-align: justify;
    font-weight: 700;
}

.bio-band-info a {
    text-decoration: none;
    color: #007bff;
}

.bio-member-info a {
    text-decoration: none;
    color: #007bff;
}


/*-------------------------------------FOOTER STYLES---*/

.footer-bar {
    background-color: #656465;
}

.footer-alert {
    border: 0;
    margin: 0;
    padding: 2px 0;
    border-radius: 0;
}

.footer-alert a {
    text-decoration: none;
    text-align: center;
    color: #93b1cd;
    width: 100%;
    vertical-align: middle;
    font-family: "Julee", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.footer-links {
    margin-right: 0.75em;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #dad3d3;
    font-family: "Julee", sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.social-links {
    border: 0;
    margin: 0;
    padding: 5px 0 0 0;
    float: left
}

.social-links li a {
    margin-right: 0.25em;
}

.social-links li a i {
    margin-bottom: 5px;
    padding: 12px 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 2px;
    font-size: 15px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#item-facebook {
    background-color: #6767e4;
    color: white;
}

#item-twitter {
    background-color: white;
    color: #6767e4;
}

#item-instagram {
    background-color: #b44ab4;
    color: white;
    width: 28px;
    height: 28px;
    line-height: 3px;
}

#item-youtube {
    background-color: white;
    color: #db0e0e;
}


/*----------------------------------
------------------------------------MEDIA-768-PX--------------
                                                ------------*/

@media(min-width: 768px) {

    /*---------------------------------HOME PAGE CONTENT---*/
    
    .main-title{
        font-size: 60px;
        letter-spacing: 15px;
    }

    .sub-title{
        font-size: 40px;
        letter-spacing: 5px;
    }

    /*------------------------------LISTEN PAGE CONTENT---*/
    
    .listen-label {
        font-size: 35px;
    }

    /*------------------------------WATCH PAGE CONTENT---*/
    
    .watch-video-label {
        margin: 20px 0;
        padding: 0 70px;
        font-size: 25px;
    }

    /*----------------------------------BIO PAGE CONTENT---*/
    
    .bio-band-img {
        width: 90%;
    }
    
    .bio-member-img {
        margin: 8px 10px 30px 30px;
        padding: 0;
        height: 200px;

    }
    
    .bio-member-name {
        padding: 5px 0 10px 20px;
        text-align: left;
    }

    .bio-member-info {
        padding: 0 30px 40px 20px;
        font-size: 18px;
    }
}

/*-------------------------------
---------------------------------MEDIA-992-PX--------------
                                             ------------*/

@media(min-width: 992px) {

    /*----------------------------------NAVIGATION BAR---*/

    .nav-item-link a i {
        padding: 15px 0 10px 0;
        font-size: 20px;
    }

    .nav-item-link span {
        padding: 0 0 5px 0;
        display: block;
        text-align: center;
        color: #93b1cd;
        font-family: "Julee", sans-serif;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 2px;
    }

    /*------------------------------HOME PAGE CONTENT---*/
    
    .site-title {
        color: transparent;
        transition: all 3s ease-in-out;
        -webkit-transition: all 5s ease-in-out;
        -moz-transition: all 5s ease-in-out;
        -o-transition: all 5s ease-in-out;
    }

    .site-title:hover {
        color: #fdfdfd;
    }

    .main-title {
        font-size: 100px;
        letter-spacing: 15px;
    }

    .sub-title {
        font-size: 50px;
        letter-spacing: 5px;
    }

    /*---------------------------LISTEN PAGE CONTENT---*/
    
    .listen-label {
        font-size: 40px;
    }

    .listen-track-label {
        font-size: 20px;
    }

    /*-------------------------------WATCH PAGE CONTENT---*/

    .watch-label {
        padding: 40px 0;
        font-size: 40px;
    }

    .watch-video {
        border: 0;
        margin: 0;
        padding: 0 70px 10px 70px;
    }

    .watch-video-label {
        padding: 0 70px;
        font-size: 25px;
    }

    /*----------------------------------BIO PAGE CONTENT---*/
    
    .bio-band-img {
        margin-top: 8px;
        margin-left: 35px;
        padding: 0;
        width: 90%;
        height: 96%;
    }

    .bio-band-info {
        padding: 0 20px;
    }
    
    .bio-member-info {
        font-size: 15px;
    }
}

/*---------------------------------
------------------------------------MEDIA-1220-PX-------------
                                                 ------------*/

@media(min-width: 1220px) {
    
    /*----------------------------------BIO PAGE CONTENT---*/
    
    .bio-member-info {
        font-size: 16px;
    }
}
